#images #options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#images img, #options img{
    width: 100px;
    height: 100px;
}

#options img:hover{
    scale: 1.1;
    cursor: pointer;
}